.content{
    display: grid;
    grid-template-columns: 250px 1fr;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}

.content-search{
    margin: 20px;
    background-color: #d91f1f;
}

.content-list{
    margin: 10px;
}

.content-detail{
    height: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 180px 300px;
    border-bottom-color: black;
    border-bottom: 1px;
    border-bottom-style: solid;
    transition: background-color 0.3s;
}

.content-detail:hover{
    background-color: #cdcccc;
    cursor: pointer;
}

.content-img{
    height: 150px;
    width: 150px;
    padding: 10px;
}

.product-name{
    font-size: 20px;
    color: black;
    font-family: Arial;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: color 0.2s;
}

.product-name:hover{
    color: #277ddd;
}

.product-disc{
    font-size: 14px;
    font-family: Arial;
    color: #767676;
    margin-top: 0;
    text-decoration: line-through;
}

.product-price{
    color: black;
    font-size: 30px;
    font-family: Arial;
    margin-top: 0;
}

.ava-product{
    color: black;
    font-size: 14px;
    font-family: Arial;
    margin-top: 0;
}

.a-link:link{
    text-decoration: none;
}