.div20{
    display: inline-block;
    width: 20%;
    float: left;
    height: 100%;
}
.div10{
    display: inline-block;
    width: 10%;
    float: left;
    height: 100%;
}

.divContent80{
    display: inline-block;
    width: 80%;
    float: left;
    height: 100%;
}

.divContent{
    display: inline-block;
    width: 60%;
    float: left;
    height: 100%;
}

.divArticleMain{
    display: inline-block;
    width: 18%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    height: 80%;
    background-color: #212529;
    border-radius: 5%;
}
.divHeightContent{
    margin-top: 30px;
    margin-bottom: 20px;
    height: 35%;
}

.imgHomePage{
    width: 90%;
    height: 50%;
}
.divDate{
    display: inline-block;
    width: 35%;
    height: auto;
}

.divTemp{
    display: inline-block;
    width: 30%;
    height: auto;
}

.divDes{
    display: inline-block;
    width: 35%;
    height: auto;
}

.divWeather{
    background-color: #212529;
    height: 50px;
}
#15257e